@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.btn{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border:none;
    background: rgb(82, 195, 3);
}
.btn-primary{
    text-align: center;
    margin-top: 20px;
}
#hero{
    height: 650px;
    background-image:linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-contant{
    width: 726px;
    
}
#hero .hero-contant .sub-title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}
#hero .hero-contant .text-title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}
#hero .hero-contant .paragraph{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12.5px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
}
